*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.container{
  width: 1110px;
}
.houses{
  padding: 125px 85px 125px 31px;
  position: relative;
}
.houses-desc{
  width: 239px;
  height: 252px;
  box-shadow: 90px 85px 100px rgba(0, 0, 0, 0.06);
  border-radius: 0px 0px 12px 12px;
  padding: 45px 22px;
  background-color: #fff;
}
.houses-num{
  font-weight: bold;
  font-size: 26px;
  line-height: 26px;
  letter-spacing: 0.01em;
  color: #000339;
}
.desc-inner{
  margin-bottom: 8px;
}
.desc-text{
  font-size: 12px;
  line-height: 18px;
  color: #A7A7A7;
  margin-bottom: 25px;
}
.houses-img{
  position: absolute;
  left: 130px;
  top: 50px;
  z-index: -1;
}
.houses-title{
  font-weight: 600;
  font-size: 35px;
  line-height: 45px;
  color: #000339;
  margin-bottom: 20px;
}
.text-desc{
  width: 309px;
}
.par{
  font-size: 16px;
  line-height: 30px;
  color: #5A6473;
}
.item-num{
  font-weight: 600;
  font-size: 64px;
  line-height: 64px;
  margin-bottom: 24px;
}
.houses-inner{
 height: 600px;
}